/**************************************
  VARIABLES
**************************************/
$yellow: #fcb72b;
$light-yellow: #fff4df;
$navy: #495567;
$grey: #939caa;
$dark-grey: #333a44;
$light-grey: #e5ecf4;
$snow: #f2f5f9;
$white: #ffffff;
$black: #000000;

/**************************************
  RESET AND SCROLLBAR
**************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/**************************************
  BASE STYLES
**************************************/
// font-family: 'Space Mono', monospace;
.body {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  background-color: $white;
}

.container {
  width: calc(100% - 4rem);
  margin-inline: auto;
}

.heading {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

.btn,
.link {
  color: inherit;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  transition: all 400ms;
}

.btn {
  display: inline-block;
  border: initial;
  background-color: initial;
}

.link {
  text-decoration: none;
}

.invisible {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

// Placed at the bottom of base styles to overwrite base styling of buttons.
.hidden {
  display: none; 
}

/**************************************
  NAV
**************************************/
.nav {
  height: 4rem;
  width: 100%;
  background-color: $white;
  position: fixed;
  top: 0;
  z-index: 3;
  
  &__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .logo {
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
  }

  &__menu,
  &__shadow {
    height: calc(100vh - 4rem);
    position: absolute;
    top: 4rem;
    left: 0;
  }

  &__menu {
    width: min(100%, 256px);
    padding: 4rem 2rem 0 2rem;
    background-color: $dark-grey;
    color: $white;
    z-index: 2;
  }

  &__shadow {
    width: 100%;
    background-color: rgba($black, 74.73%);
    z-index: 1;
  }

  &__list {
    list-style: none;
  }

  &__item {
    font-size: 1.125rem;

    &:nth-of-type(2) {
      margin: 1.5rem 0;
    }
  }
  
  &__link {
    &:hover,
    &:focus {
      color: $yellow;
    }
  }
}

// Absolutely positioned to btn--hamburger.
// When toggling nav menu swap hamburger button to position fixed
.hamburger {
  background-color: $yellow;
  width: 20px;
  height: 2px;
  border-radius: 1rem;
  transition: all 500ms;
  position: absolute;
  left: 0;

  &--top {
    top: 3px;
  }

  &--bottom {
    bottom: 3px;
  }
}

// Toggled on click for .hamburger--top
.flip-top {
  top: 7px;
  transform: rotate(-225deg);
}

// Toggled on click for .hamburger--bottom
.flip-bottom {
  bottom: 7px;
  transform: rotate(-315deg);
}

/**************************************
  HEADER
**************************************/
.hero {
  margin-top: 4rem;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  text-align: center;
  position: relative;
  overflow: hidden;

  &--secondary {
    height: 160px;
    margin-bottom: 4.5rem;
  }

  &--home {
    height: 650px;
    background-image: url(../assets/images/home-hero-mobile.jpg);
  }

  &--about {
    background-image: url(../assets/images/about-hero-mobile.jpg);
  }

  &--careers,
  &--locations {
    background-image: url(../assets/images/careers-location-hero-mobile.jpg);
  }

  &__context {
    padding-top: 7.1875rem;
    max-width: 34ch;
    position: relative;

    &--secondary {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__heading {
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: -1.79px;
    margin-bottom: 1.5rem;

    &--secondary {
      margin-bottom: 0;
    }
  }

  &__text {
    margin-bottom: 2.125rem;
  }
}

/**************************************
  MAIN
**************************************/
.main {
  &__heading {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: -1.43px;
  }

  &__text {
    color: $grey;
  }
}

.locate {
  margin: 7.5rem 0;
  text-align: center;

  // &__context {

  // }

  &__wrapper {
    &:nth-of-type(2) {
      margin: 3rem 0;
    }
  }

  &__heading {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: -0.89px;
    color: $navy;
    margin-bottom: 1.5rem;
  }

  &__text {
    max-width: 34ch;
    margin-inline: auto;
  }

  &__icon {
    margin-bottom: 1.5rem;
  }
}

.information {
  text-align: center;
  overflow: hidden;

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 7.5rem;

    &--secondary {
      max-width: max-content;
      margin-inline: auto;
      position: relative;
    }
  }

  &__context,
  &__context--secondary {
    order: 2;
    margin-top: 3.5rem;
  }

  &__heading {
    color: $navy;
    margin-bottom: 2rem;
  }

  &__text {
    max-width: 60ch;
    margin-inline: auto;
    margin-bottom: 2rem;

    &--about {
      margin-bottom: 0;
    }
  }
}

.values {
  text-align: center;

  &__heading {
    color: $navy;
    margin-bottom: 4rem;
  }

  &__wrapper {
    margin-bottom: 9.0625rem;

    &--secondary {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      &:nth-of-type(2) {
        margin: 3.5rem 0;
      }
    }

  }

  &__context {
    order: 3;
    margin-top: 4rem;
  }

  &__sub-heading,
  &__icon {
    color: $navy;
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -1.07px;
  }

  &__sub-heading {
    margin-bottom: 1.6875rem;
  }

  // &__text {
     
  // }

  &__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96px;
    width: 96px;
    background-color: $yellow;
    border-radius: 100vw;
    position: absolute;
    top: 192px;
  }
}

// Section facts
.facts {
  text-align: center;
  margin-bottom: 7.5rem;

  &__heading {
    color: $navy;
    margin-bottom: 3rem;
  }

  &__wrapper {
    &:nth-of-type(1) {
      margin-bottom: 3rem;
    }

    // &--secondary {

    // }
  }

  &__sub-heading {
    color: $navy;
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -1.07px;
    margin-bottom: 2rem;
  }
}

.fact {
  width: 100%;
  background-color: #f2f5f9;
  padding: 2rem 1.75rem 2rem 2rem;
  text-align: left;
  position: relative;

  &:nth-of-type(2) {
    margin: 1rem 0;
  }

  &__heading {
    display: inline-block;
    color: $navy;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: -0.8px;
    max-width: 20ch;
    margin-right: 2rem;
  }

  &__icon {
    position: absolute;
    top: 3.25rem;
    right: 1.75rem;
    transition: all 250ms;
  }

  &__text {
    color: $navy;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    padding-top: 1.5rem;
  }
}

// Swaps with class hidden when fact is clicked.
.inline-block {
  display: inline-block;
}

.rotate {
  transform: rotate(-180deg);
}

// Section apply
.apply {
  margin-bottom: 7.5rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $snow;
    padding: 2.25rem 2rem 2rem 2rem;
    margin-bottom: 1rem;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__context {
    margin-bottom: 1rem;
  }

  &__heading {
    color: $navy;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: -0.8px;
    margin-bottom: 0.25rem;
  }

  // &__text {

  // }
}

// Section locations
.locations {
  text-align: center;
  margin-bottom: 4.5rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4.5rem;
  }

  // &__context {

  // }

  &__heading {
    max-width: 14ch;
    margin-inline: auto;
    color: $navy;
    margin-bottom: 2rem;
  }

  &__text {
    margin-bottom: 2rem ;
    max-width: 54ch;
    margin-inline: auto;
  }
}

.marker {
  width: min(100%, 311px);
  padding: 1.375rem 0;
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: -1.07px;
  font-weight: 700;
  background-color: rgba($yellow, 15%);
  color: $navy;
  margin-bottom: 1rem;

  &--yokohama {
    margin-bottom: 0;
  }

  &__icon {
    display: none;
  }
}

// Section sign-up
.sign-up {
  background-color: $navy;
  text-align: center;
  position: relative;
  overflow: hidden;

  &__context {
    padding: 5.5rem 0;
  }

  &__heading {
    color: $white;
    margin-bottom: 2.5rem;
  }

  &__wrapper {
    position: relative;
    z-index: 1;
  }
}
/**************************************
  FOOTER
**************************************/
.footer {
  background-color: $dark-grey;
  text-align: center;
  padding: 4rem 0 5.5rem;

  .logo {
    margin-bottom: 2.625rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    list-style: none;
    margin-bottom: 5.3125rem;
  }

  &__item {
    color: $grey;
    &:nth-of-type(2) {
      margin: 1rem 0;
    }
  }

  &__link {
    &:hover,
    &:focus {
      color: $yellow;
    }
  }

  &__link--secondary {
    &:hover,
    &:focus {
      .footer__icon {
        fill: $light-grey;
      }
    }
  }
  
  &__icon {
    transition: all 400ms;
  }
}

.twitter {
  margin: 0 1.5rem;
}

/**************************************
  BUTTONS
**************************************/
.btn {
  &:hover,
  &:focus {
    cursor: pointer;
  }

  &--hamburger {
    height: 1rem;
    width: 1.25rem;
    position: relative;

    &:hover,
    &:focus {
      .hamburger {
        background-color: $navy;
      }
    }
  }

  &--nav,
  &--hero,
  &--information,
  &--apply,
  &--locations {
    color: $white;
    background-color: $yellow;
    border: 3px solid $yellow;
    padding: 0.6875rem 0;
    text-align: center;
  }

  &--nav,
  &--information,
  &--apply,
  &--locations {
    &:hover,
    &:focus {
      background-color: $white;
      color: $yellow;
    }
  }

  &--hero,
  &--information,
  &--locations {
    width: min(100%, 180px);
  }

  &--nav {
    width: min(100%, 192px);
    position: absolute;
    bottom: 1.5rem;
  }

  &--hero {
    &:hover,
    &:focus {
      background-color: transparent;
      color: $yellow;
    }
  }

  &--app-store {
    display: block;
    margin-bottom: 1rem;
  }

  &--apply {
    width: min(100%, 241px);
  }

  @media (min-width: 425px) {
    &--app-store {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 0.75rem;
    }
  }
}

/**************************************
  IMAGES
**************************************/
.image {
  max-width: 100%;
  object-fit: cover;

  &--tablet,
  &--desktop {
    display: none;
  }

  &--information {
    height: 311px;
    width: 311px;
    border-radius: 100vw;
    margin-inline: auto;
  }

  &--values {
    width: 240px;
    height: 240px;
    border-radius: 100vw;
  }

  &--locations {
    margin-bottom: 2.5rem;
  }
}

/**************************************
  PATTERNS
**************************************/
// Any section with a pattern overflowing off the right side of the screen must have
// a overflow or overflow-x of none!!
.pattern {
  position: absolute;

  &--secondary {
    display: none;
  }

  &--hero-arrow {
    right: 208px;
    bottom: -150px;
  }

  &--information-arrow-left-1 {
    top: 173px;
    left: 0;
  }

  &--information-arrow-right {
    right: 81px;
    top: 0;
  }

  &--information-arrow-left-2 {
    left: 130px;
    top: 0;
  }

  &--about-arrow-left {
    top: 133px;
    left: -5px;
  }

  &--about-arrow-right {
    right: -5px;
    top: -10px;
  }

  &--careers-arrow {
    left: -5px;
    bottom: 0;
  }

  &--sign-up {
    opacity: 10%;
    height: 347px;
    bottom: -173px;
    right: -220px;
  }
}

/**********************************
  ANIMATIONS
**********************************/
@keyframes slide-in {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.slide-in {
  animation: slide-in 500ms forwards;
}

.slide-out {
  animation: slide-out 500ms forwards;
}

.fade-in {
  animation: fade-in 500ms forwards;
}

.fade-out {
  animation: fade-out 500ms forwards;
}
