/**************************************
  VARIABLES
**************************************/
$yellow: #fcb72b;
$light-yellow: #fff4df;
$navy: #495567;
$grey: #939caa;
$light-grey: #e5ecf4;
$snow: #f2f5f9;
$white: #ffffff;

/**************************************
  RESET AND SCROLLBAR
**************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/**************************************
  BASE STYLES
**************************************/
// font-family: 'Space Mono', monospace;
.body {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  background-color: rgb(87, 123, 142);
}

.container {
  width: calc(100% - 4rem);
  margin-inline: auto;
}

.btn {
  display: inline-block;
  border: initial;
  background-color: initial;
  color: inherit;
}

.link {
  text-decoration: none;
  color: inherit;
}

.invisible {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

// Placed at the bottom of base styles to overwrite base styling of buttons.
.hidden {
  display: none; 
}

/**************************************
  NAV
**************************************/
.nav {
  height: 4rem;
  width: 100%;
  background-color: $white;
  position: fixed;
  top: 0;
  z-index: 2;
  
  &__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.logo {
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
}

// Absolutely positioned to btn--hamburger.
// When toggling nav menu swap hamburger button to position fixed
.hamburger {
  background-color: $yellow;
  width: 20px;
  height: 2px;
  border-radius: 1rem;
  transition: all 500ms;
  position: absolute;
  left: 0;

  &--top {
    top: 3px;
  }

  &--bottom {
    bottom: 3px;
  }
}

// Toggled on click for .hamburger--top
.flip-top {
  top: 7px;
  transform: rotate(-225deg);
}

// Toggled on click for .hamburger--bottom
.flip-bottom {
  bottom: 7px;
  transform: rotate(-315deg);
}
/**************************************
  HEADER
**************************************/
.hero {
  margin-top: 4rem;
}
/**************************************
  MAIN
**************************************/
/**************************************
  FOOTER
**************************************/
/**************************************
  BUTTONS
**************************************/
.btn {
  &--hamburger {
    height: 1rem;
    width: 1.25rem;
    position: relative;

    &:hover,
    &:focus {
      .hamburger {
        background-color: $navy;
      }
    }
  }

  &--nav {

  }
}
/**************************************
  IMAGES
**************************************/
.image {
  max-width: 100%;
  object-fit: cover;
}
/**************************************
  PATTERNS
**************************************/
// Any section with a pattern overflowing off the right side of the screen must have
// a overflow or overflow-x of none!!
.pattern {
  &--primary {
    display: none;
  }

  &--secondary {
    display: none;
  }
}